<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mage.customviewdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomViewDemo">
        <activity android:name=".ui.GradientActivity"></activity>
        <activity android:name=".ui.PathDashEffectActivity" />
        <activity android:name=".ui.PathEffectActivity" />
        <activity android:name=".ui.PaintStrokeMiterActivity" />
        <activity android:name=".ui.PaintJoinActivity" />
        <activity android:name=".CubictoActivity" />
        <activity android:name=".FillTypeActivity" />
        <activity android:name=".ArcToActivity" />
        <activity android:name=".PathOpActivity" />
        <activity android:name=".QuadtoViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>